<!DOCTYPE html>
<html>
<head>
  <title>Chance's Party - Admin</title>
  <style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#avatar {
  margin-right: 1em;
  float: left;
}

#user > p {
  margin: 0;
}

ul {
  display: inline-block;
  min-width: 35%;
}

a.link-back {
  font-size: 0.75rem;
  float: right;
}
  </style>
</head>
<body>
<% if (!user) { %>
<p>
  <a href="<%= base %>/auth">Login with Spotify</a>
</p>
<% } else { %>
<p>
  <a href="<%= base %>/auth/logout">Log Out</a>
</p>
<h1>Logged in as <%= user.displayName %></h1>
<img id="avatar" width="200" src="<%= user.photos[0] %>" />
<div id="user">
  <p>ID: <%= user.id %></p>
  <p>Profile: <a href=" <%= user.profileUrl %>"><%= user.profileUrl %></a></p>
  <p>Followers: <%= user.followers %></p>
  <p>Country: <%= user.country %></p>
  <p>Product: <%= user.product %></p>
</div>
<p>Current playlist: <%= (user.currentPlaylist) ? user.currentPlaylist.name : 'N/A' %></p>
<div style="clear: both;"></div>
<% if (playlists) { %>
<h2>Pick a playlist for the party</h2>
<ul><% for (var i = 0; i < playlists.length; i += 1) { %>
  <% if (playlists[i].owner.id === user.id) { %>
  <li>
    <a href="<%= base %>/playlist?id=<%= playlists[i].id %>"><%= playlists[i].name %></a>
    <a href="<%= playlists[i].href %>" class="link-back">On Spotify</a></li>
  <% } %>
<% } %></ul>
<% } %>
<% } %>
<% if (error) { %>
<p>Error:</p>
<p><%= JSON.stringify(error) %></p>
<% } %>
</body>
</html>
